{% extends "base.html" %}
{% load static %}

{% block meta %} 
<title>Cari Event</title>
{% endblock meta %} 

{% block style %} 
    <style>
        #img2 {
            width: 250px;
            height: 460px;
            margin-top: 40px;
        }
        #img1 {
            width: 230px;
            height: 460px;
            margin-top: 40px;
            margin-left: 20px;
        }
        h4, h1 {
            font-family: 'Nunito', sans-serif;
            font-weight: 600;
        }
        a, button, h5, h6, h2 {
            font-family: 'Nunito', sans-serif;
        }
        body {
            background-image: url("{% static 'corona.png' %}");
            background-repeat: no-repeat;
            background-size: contain;
        }
        #event {
            color: #D73A2F;
        }
        #in.btn{
            display: inline-block;
            margin-top: 20px;
            padding: 6px 20px;
            color: white;
            border-radius: 30px;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
        }
        #aa.btn{
            display: inline-block;
            padding: 6px 20px;
            background-color: #D73A2F;
            border-radius: 30px;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
        }
        .form-container{
            position: relative;
        }
    </style>
{% endblock style %} 

{% block content %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <div class="container">
        <div class="row">
          <div class="col">
            <img id="img1" src="{% static 'cewe.png' %}"><br>
          </div>
          <div class="col-6 justify-content-center">
            <center>
            <div class="container" style="margin-top: 125px;">
                <h1 id="event">Cari Event!</h1>
                <h4>Berbagai macam event sudah menunggu
                    <br>Cari event yang Anda inginkan disini</h4><br>
                <form class="form-cointainer" method="POST" action="/event/cari/">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-lg-11" style="margin-left: 9px;">
                            <input type="text" name="srh" class="form-control" placeholder="Ketik event" style="border-radius: 30px;">
                            <button type="submit" class="btn btn-danger" id="in" style="margin-top: 20px;">Search</button>
                        </div>
                    </div>
                </form>
            </center>
          </div>
          <div class="col">
            <img id="img2" src="{% static 'cowo.png' %}"><br>
          </div><br>
        </div>
    </div>
    <div class="container">
        <div>
            {% if messages %}
            <br><br>
            <ul class="messages">
                {% for k in messages %}
                <br><h4 style="text-align: center; margin-right: 34px; color: red;"> {{k}}</h4><br><br>
                {% endfor %}
            </ul>
            {% endif %}
        </div><br>
        <div>
            {% if sr %}
            <br><br><br>
            <center><h1 id="event">Hasil Pencarian Event <br>"{{nama}}"</h1><br><br><br></center>
                {% for k in sr %}
                <table style="margin-left: 120px;">
                    <tr>
                        <td><h5>{{k.Jenis_Event}}</h5></td>
                    </tr>
                    <tr>
                        <td><h2>{{k.Nama_Event}}</h2></td>
                    </tr>
                    <tr>
                        <td><h6>Penyelenggara:  &nbsp;&nbsp;{{k.Penyelenggara}}</h6></td>
                    </tr>
                    <tr>
                        <td><h6>Tanggal Event: &nbsp;&nbsp;{{k.Tanggal_Event}}</h6></td>
                    </tr>
                    <tr>
                        <td><h6>Waktu Event: &nbsp;&nbsp;{{k.Waktu_Event}}</h6></td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn" id="aa" style="margin-top: 20px;"><a href="{{k.Link_Pendaftaran}}" style="color: white;">Daftar</a></button></td>
                    </tr>
                </table><br><br>
                {% endfor %}
            {% endif %}
        </div>
    </div><br><br>
{% endblock content %}
    

