{% extends "base.html" %}
{% load static %}

{% block meta %} 
<title>Tambah Event</title>
{% endblock meta %} 

{% block style %} 
  <style>
    h4, h1 {
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
    }
    h2 {
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
    }
    h6 {
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
    }
    a, button, h5, h6 {
      font-family: 'Nunito', sans-serif;
    }
    body {
      background-image: url("{% static 'background.png' %}");
      background-repeat: no-repeat;
      background-size: contain;
    }
    .form-container{
      position:absolute;
    }
    .btn {
      bottom: 20px;
      padding: 7px 23px;
      background-color: #D73A2F;
      outline: none;
      border: 1px solid whitesmoke;
      border-radius: 20px;
      color: white;
    }
    #img1 {
      width: 240px;
      height: 470px;
      margin-top: 30px;
      margin-left: 20px;
    }
  </style>
{% endblock style %} 

{% block content %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
  <div class="container px-lg-7">   
    <div class="row px-lg-5">
      <div class="col py-3 px-lg-5" style=" margin-top: 7px;">
        <form class="form-container" method="POST">
          <h2 class="display-5r" style="color: #D73A2F;">Tambah Event</h2>
          <h6>Anda bisa menambahkan event yang Anda sudah rancang (ex. Webinar, Workshop, dsb)
            di website ini agar bisa dilihat  oleh semua orang</h6><br>
          {% csrf_token %}
          {% for a in event_form %}
            <div class="form-group">
                <h6>{{a.label}}</h6>
                {{a}}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-info">Submit</button><br><br>
        </form>
      </div>
      <div class="col py-3 px-lg-5" >
        <center><img id="img1" src="{% static 'Frame.png' %}"></center>
      </div>
    </div>
  </div><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}
    