{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cari Studi</title>
    {% endblock %}
    {% block style %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <link rel="stylesheet" href="{% static 'study.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="content">
        <p class="title" style="font-size: 2rem;">Cari Studi Korona !</p>
        <p class="desc">Pelajari Corona lebih jauh dengan studi-studi dari berbagai sumber.
            Tinggal ketik saja apa judul studi yang diinginkan.</p>
        <form action="" method="GET">
            <input id='search' type="text" placeholder="ketik studi" name="search">
            <input type="submit" value="Cari">
        </form>
        {% if query %}
        <div style="width: 70%; max-width: 892px;">
            <p class="title" style="font-size: 35px;">Hasil pencarian studi</p>
            <p class="title" style="font-size: 25px;">"{{ query }}"</p>
                {% if hasil == 'Tidak ditemukan' %}
                    <p style="text-align: center;">Tidak Ditemukan</p>
                {% else %}
                    {% for studi in hasil %}
                    <p style="font-size: 25px;"><b>{{ studi.namaStudi }}</b></p>
                    <p class="keterangan">Tipe : {{ studi.tipeStudi }}</p>
                    <p class="keterangan">Penulis : {{ studi.author }}</p>
                    <p class="keterangan">Tanggal Publikasi : {{ studi.tanggalPublikasi }}</p>
                    <p>{{ studi.abstract }}</p>
                    <p><i>Baca selengkapnya dengan mengunduh pdf berikut</i></p>
                    <a href="https://{{ studi.link }}"><div class="unduh">Unduh .pdf</div></a>
                    <br>
                    {% endfor %}
                {% endif %}
        </div>
        {% endif %}
    </div>
    {% endblock %}
    
</body>
</html>