{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Studi</title>
    {% endblock %}
    {% block style %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <link rel="stylesheet" href="{% static 'study.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    
    <div class="content">
        <p class="title">Tambah Studi</p>
        <p class="desc">Tambahkan studi yang Anda punya. 
            Orang-orang bisa melihat studi yang Anda tambahkan</p>
        
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>

        {% if success %}
        <p class="title" style="font-size: 25px;">Berhasil ditambahkan</p>
        {% endif %}
    </div>
    
    {% endblock %}
</body>
</html>