{%extends 'base.html'%}
{% load static %}
<html>

<head>
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <link rel="stylesheet" href = {% static 'css/customer.css'%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Kritik diterima</title>
</head>
{% endblock meta %}

<body>
{% block content%}
<div class = "kotak2">
    <h4>Baik, kami akan memperbaiki website ini demi kenyamanan Anda. Terima kasih atas kritik dan sarannya dan jangan lupa untuk selalu jaga kesehatan.</h4>
    <br>
    <a href="/support">
        <button type="submit" class="btn btn-danger">Back</button>
    </a>
</div>
</body>
{% endblock content%}

</html>