{%extends 'base.html'%}

{%load static%}
<html>

<head>
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <link rel="stylesheet" href = {% static 'css/customer.css'%}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Support</title>
</head>
{% endblock meta %}
 
<body>
{% block content%}
<div class = "kotak1">
    <h2 style = "font-weight : bold; font-size: 2em">Pesan Penyemangat</h2><br>
    <h4 style = "font-size : 1.5em">Anda bisa memberikan pesan penyemangat kepada teman-teman pasien Covid-19. Pesan dari Anda sangat berarti untuk mereka.</h4>
</div>
<div class = "myform">
    <form id="form" method="POST" action="kumpulan-semangat/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" style="font:22px">
            {{ form_semangat.as_p }}
        </div>
        <br>
        <button type="submit" class="btn btn-danger float-right">Submit</button>
    </form>
</div>
<br><br>
<div class = "kotak1">
    <h2 style = "font-weight : bold">Keluh Kesah?</h2><br>
    <h4 style = "font-size : 1.5em">Ingin menyampaikan keluh kesah dari website ini? Kirim saja pesan anda di sini. Kami akan memperbaikinya agar website menjadi lebih baik</h4>
</div>
<div class = "myform">
    <form id="form" method="POST" action="berhasil/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" style="font:22px">
            {{ form_keluhan }}
        </div>
        <br>
        <button type="submit" class="btn btn-danger float-right">Submit</button>
    </form>
</div>
<br><br>
<div class = "kotak1">
    <h2 style = "font-weight : bold">Tentang Kami</h2>
    <br>
    <h4 style = "font-size : 1.5em">Kami adalah mahasiswa Fasilkom UI 2019 yang sedang melaksanakan tugas
        Perancangan dan Pemrograman Web (PPW) Semester 3.</h4>
    <br>
    <div class="container-fluid text-center" style = "padding-bottom : 8%;">
    <div class="row">
        <div class="col-sm-3">
            <br>
            <img src="{% static 'img/aryo.jpg' %}" class="rounded-circle responsive" alt="aryo">
        </div>
        <div class="col-sm-3"> 
            <br>
            <img src="{% static 'img/aye.jpg' %}" class="rounded-circle responsive" alt="aye">
        </div>
        <div class="col-sm-3"> 
            <br>
            <img src="{% static 'img/hasna.jpg' %}" class="rounded-circle responsive" alt="hasna">
        </div>
        <div class="col-sm-3"> 
            <br>
            <img src="{% static 'img/hilmy.jpg' %}" class="rounded-circle responsive" alt="hilmy">
        </div>
  </div>
</div>
</div>
<br><br>
</body>
{% endblock content%}
</html>