{%extends 'base.html'%}
{% load static %}
<html>

<head>
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script> 
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <link rel="stylesheet" href = {% static 'css/customer.css'%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Kumpulan Pesan Penyemangat</title>
</head>
{% endblock meta %}

<body>
{% block content%}
    <div class = "kotak" style = "padding-top : 10%">
            <h3>Kumpulan Pesan Penyemangat</h3>
            {% for i in data %}
            <table>
                <tbody>
                <tr>
                    <td style = "font-weight : bold">Dari : {{ i.nama }}</td>
                </tr>
                <br>
                <tr>
                    <td>{{ i.pesan }}</td>
                </tr>
                <br>
                <br>
                </tbody>
            </table>
            {% endfor %}
    </div>
        <br>
    <div class = "button-position" style="padding-bottom : 10%">
        <a href="/support">
            <button type="submit" class="btn btn-danger float-right">Back</button>
        </a>
    </div>
</body>
{% endblock content%}

</html>