<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% block meta %} {% endblock meta %} 

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="./Style.css" /> -->
  
  <style>
 a {
  font-size: 1.1em;
  color: #1a1a33;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fddde1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-item:last-child {
  padding-right: 10.5em;
}

.nav-item {
  padding: 0.9em;
}

.navbar-brand {
  padding-left: 8rem;
  font-size: 1.8em;
  color: #ed443b;
  font-weight: 700;
}

.nav-link:hover {
  color: black;
}

footer {
  background: #931f17;
  padding: 5vmin 2vmin;
  left: 0;
  display: block;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #ffffff;
}


footer i {
  color: #f1f1f1;
  size: 2em;
  letter-spacing: 0.5em;
  padding-bottom: 2em;
  
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    padding-left: 1rem;
    font-size: 1.3rem;
  }
  header a{
  font-size: 0.8em;
}
}
  </style> 
  {% block style %}
  {% endblock style %}
  </head>
  <body>
      <header>
        <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg ">
          <a class="navbar-brand" href="#">CoronaStudy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage:home'%}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <a href="{% url 'study:searchstudy'%}" class="nav-link">Studi Corona</a>
                  <div class="dropdown-content">
                    <a href="{% url 'study:study'%}">Tambah Studi</a>
                    <a href="{% url 'study:searchstudy'%}">Cari Studi</a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <a href="{% url 'event:carievent'%}" class="nav-link">Event</a>
                  <div class="dropdown-content">
                    <a href="{% url 'event:tambahevent'%}">Tambah Event</a>
                    <a href="{% url 'event:carievent'%}">Cari Event</a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/support">Pesan</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main>
    
    
    {% block content %} 
    {% endblock content %} 
  </main>
  <footer>
    <div class="container-fluid p-0">
      <div class="text-center">
        <p>Kontak kami di media sosial masing-masing</p>
        <br>
        <div class="row text-center col-sm-12  justify-content-center">
          <div class="col-sm-3 text-center">
            <p>Aryo Wirapradana</p>
            <p>aryo.wirapradana@ui.ac.id</p>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
          </div>
          
          <div class="col-sm-3 text-center">
            <p>Ayesha Thalia</p>
            <p>ayesha.thalia@ui.ac.id</p>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
          </div>
          <div class="col-sm-3 text-center ">
            <p>Hasna Nadifah</p>
            <p>hasna.nadifah@ui.ac.id</p>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
          </div>
          <div class="col-sm-3 text-center">
            <p>Hilmy Akbar</p>
            <p>hilmy.akbar@ui.ac.id</p>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  
    