{% extends 'base.html' %} {% load static %}{% block meta %} 
<title>Kirim Email</title>
{% endblock meta %} {% block style %}

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
      * {
      box-sizing: border-box;
      font-family: "Nunito", sans-serif;
      }

    .notif{
      padding-bottom: 60vmin;
      background-image: url('/static/img/background.jpg') ;
      background-position: 80% 45%;
      width: 100%;
    }
    h1{
      font-weight: 800;
      color: #ed443b;
    }
    h4{
  font-weight: 800;
  color: #ed443b;
}
    @media only screen and (max-width: 768px){
      .notif{
        background-position: 70% 50%;
        width: 100%;
      }
      h1 {
        font-size: 1.5rem;
      }

      h4 {
  font-size: 1rem;
}
      p {
        font-size: 0.8rem;
      }

      .table{
        font-size: 0.7em;
      }
    }
    .primary-btn{
  border-radius: 30px;
  font-weight: bold;
  background-color: #ed443b;
  padding: 0.1em 0em;
  color: white;
  font-size: 0.8em;
}
    </style>
    {% endblock style %} 
<!-- </head> -->

{% block content %}
<section class="notif">
  <div class="container text-center">
    {%if messages%}
    <br>
    <div class="messages">
    {%for message in messages%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {%endfor%}
    </div>
    {%endif%}
    <br>
    <br>
    <h4>DATABASE CORONASTUDY</h4>
    <h1>Kirim email</h1>
    <p>Form dibawah untuk mengirimkan sebuah email ke <span style="font-weight: 700;">semua email pengguna</span> yang telah terdaftar di database CoronaStudy. <br>Setelah mengisi form, klik tombol "Kirim" untuk mengirim email tersebut
    </p>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Kirim" class="btn btn-light px-4 py-2 primary-btn" role="button" />
            <a  href="../" class="btn btn-light px-4 py-2 primary-btn">
                Back
              </a>
            <br>
        </form>

  </div>
  
  
  


</section>
    
{% endblock content %}

